# Generic C/C++ .gitignore

# Build directory (explicitly ignored)
build/

# directory config file
src/dirs_config.h

# IDEs and editors
.vscode/

# Misc
.DS_Store

# .tex auxiliary files
docs/*.aux
docs/*.log
docs/*.out
docs/*.toc
docs/*.lof
docs/*.lot
docs/*.fls
docs/*.fdb_latexmk
docs/*.synctex.gz
docs/*.bbl
docs/*.blg
